<ion-content >
  
  
  <div *ngIf="picture">
    <img [src]="picture">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="startCamera()">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

<div *ngIf="!picture">


  <ion-fab vertical="bottom" class="ion-padding-bottom" horizontal="center" slot="fixed" (click)="takePicture()">
    <ion-fab-button color="danger">
      
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="startCamera()">
      <ion-fab-button color="">
        <ion-icon name="reverse-camera" color="undefined"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</div>


</ion-content>
